* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--light-blue: #00b4d8;
	--blue: #0077b6;
	--dark-blue: #03045e;
}

body {
	background: url("/public/background.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.dashboard {
	display: grid;
	grid-template-rows: 1fr 99fr;
	height: 100vh;
	background: rgba(255, 255, 255, 0.5);
}

.top-bar {
	display: flex;
	gap: 1rem;
	justify-content: end;
	padding: 1rem;
}
.info {
	padding: 1rem;
}
