/* Doctors section Starts */

.doctors .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  gap: 2em;
  margin: 4em;
}
.doctors .box-container .box {
  text-align: center;
  background: #fff;
  border: var(--border);
  border-radius: 0.5em;
  box-shadow: var(--box-shadow);
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
}
.doctors .box-container .box :hover {
  cursor: pointer;
}
.doctors .box-container .box .pic {
  font-size: 60px;
}

.doctors .box-container .box h3 {
  color: var(--black);
  font-size: 2.5em;
}
.doctors .box-container .box span {
  color: var(--green);
  font-size: 1.5em;
}
.doctors .box-container .box .share {
  padding-top: 2em;
}
.doctors .box-container .box .share a {
  height: 3em;
  width: 3em;
  line-height: 2.6em;
  font-size: 1.5em;
  color: var(--green);
  border: var(--border);
  border-radius: 0.5em;
  margin: 0.3em;
  text-decoration: none;
}
.doctors .box-container .box .share a:hover {
  background: var(--green);
  color: #fff;
  box-shadow: var(--box-shadow);
}
.heading {
  text-align: center;

  text-transform: uppercase;
  color: var(--black);
  font-size: 3.5em;
  letter-spacing: 0.4em;
}
.heading span {
  text-transform: uppercase;
  color: var(--green);
  text-shadow: var(--text-shadow);
}

.date-form {
  position: relative;
  border: 2px solid var(--green);
  border-radius: 4px;
}
.date-form:hover {
  cursor: pointer;
}
.form-h1 {
  position: relative;
  display: inline;
  margin-right: 10px;
}
.submit-app {
  border: 2px solid var(--green);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0.5px 1.5px var(--green);
}
.submit-app:hover {
  cursor: pointer;
  border: 2px solid var(--green);
  background-color: var(--green);
  color: white;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0.5px 1.5px white;
}

.icon-container {
  padding: 7px 0;
  font-size: 24px;
}

.box-form {
  width: 50%;
  margin-bottom: 10px;
  border: 2px solid var(--green);

  border-radius: 0.5em;
  font-size: 1.6em;
  color: var(--black);

  padding: 0.2em;
}
