/* Doctors section Starts */

body {
	background: none;
	background-color: white;
}
.doctors .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
	gap: 2em;
}
.doctors .box-container .box {
	text-align: center;
	background: #fff;
	border: var(--border);
	border-radius: 0.5em;
	box-shadow: var(--box-shadow);
	padding: 2em;
}
.doctors .box-container .box :hover {
	cursor: pointer;
}
.doctors .box-container .box img {
	height: 20em;
	border: var(--border);
	border-radius: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
}
.doctors .box-container .box h3 {
	color: var(--black);
	font-size: 2.5em;
}
.doctors .box-container .box span {
	color: var(--green);
	font-size: 1.5em;
}
.doctors .box-container .box .share {
	padding-top: 2em;
}
.doctors .box-container .box .share a {
	height: 5em;
	width: 5em;
	line-height: 4.5em;
	font-size: 2em;
	color: var(--green);
	border: var(--border);
	border-radius: 0.5em;
	margin: 0.3em;
}
.doctors .box-container .box .share a:hover {
	background: var(--green);
	color: #fff;
	box-shadow: var(--box-shadow);
}
