:root {
	--light-blue: #00b4d8;
	--blue: #0077b6;
	--dark-blue: #03045e;
	--green: #16a085;
	--black: #444;
	--light-color: #777;
	--box-shadow: 0.5rem 0.5rem 0 rgba(22, 160, 133, 0.2);
	--text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
	--border: 0.2rem solid var(--green);
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
